Repository Sunday9787/online-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, stylelint --fix, prettier -w, stylelint --custom-syntax postcss-html --fix

style: 格式化样式
  src/components/app-card/index.vue
  src/components/app-form-collapse/index.vue
  src/components/app-form-tab/index.vue
  src/components/app-gap/index.vue
  src/components/app-page-aside/index.vue
  src/components/app-patient/components/patient-data.vue
  src/components/app-patient/components/patient-grid-model.vue
  src/components/app-patient/components/patient-list.vue
  src/components/app-patient/components/patient-model-switch.vue
  src/components/app-patient/components/patient-popover.vue
  src/components/app-patient/components/patient-toolbar.vue
  src/components/app-patient/index.vue
  src/components/app-patient/patient-aside.vue
  src/components/app-patient/patient-item.vue
  src/components/app-scale/index.vue
  src/components/app-table-container/index.vue
  src/components/app-table-widget/index.vue
  src/view/index.vue
  src/view/product/buy/index.vue
  src/view/product/components/spec-item.vue
  src/view/template/action/index.vue
  src/view/template/action/template-aside.vue
  src/view/template/action/template-editor.vue
  src/view/template/action/template-property.vue
  src/view/template/action/template-stage.vue
  src/view/template/action/template-toolbar.vue
  src/view/template/components/template-contextmenu.vue
  src/view/template/components/template-control.vue
  src/view/template/components/template-document/render.vue
  src/view/template/components/template-mark-line.vue
Due: npm run lint, stylelint --custom-syntax postcss-html --fix

stash: 暂存
  jsconfig.json
  package.json
  pnpm-lock.yaml
  src/router/module/productRoute.js
  src/view/product/graphic/index.vue
  src/view/product/index.vue
  src/view/template/hooks/useToHtml.js
Due: npm run lint, prettier -w, stylelint --custom-syntax postcss-html --fix

stash: 暂存
  package.json
  pnpm-lock.yaml
  src/view/product/graphic/components/builtin/builtin-input/index.js
  src/view/product/graphic/components/builtin/builtin-input/view.vue
  src/view/product/graphic/components/builtin/builtin-plus/index.js
  src/view/product/graphic/components/builtin/builtin-plus/view.vue
  src/view/product/graphic/components/builtin/index.js
  src/view/product/graphic/components/index.js
  src/view/product/graphic/index.vue
Due: npm run lint, prettier -w, stylelint --custom-syntax postcss-html --fix

stash: 暂存
  src/@types/graphic.d.ts
  src/view/product/graphic/components/builtin/builtin-input/index.js
  src/view/product/graphic/components/builtin/builtin-input/view.vue
  src/view/product/graphic/components/builtin/builtin-plus/index.js
  src/view/product/graphic/components/builtin/builtin-plus/view.vue
  src/view/product/graphic/components/builtin/hooks/graphic.js
  src/view/product/graphic/index.vue
Due: npm run lint, stylelint --custom-syntax postcss-html --fix

stash: 暂存
  jsconfig.json
  package.json
  pnpm-lock.yaml
  src/@types/graphic.d.ts
  src/components/app-graphic/components/index.js
  src/components/app-graphic/components/math-construct/index.js
  src/components/app-graphic/components/math-construct/view.vue
  src/components/app-graphic/components/param-input/index.js
  src/components/app-graphic/components/param-input/view.vue
  src/components/app-graphic/components/param-panel/index.js
  src/components/app-graphic/components/param-panel/view.vue
  src/components/app-graphic/components/param-plus/index.js
  src/components/app-graphic/components/param-plus/view.vue
  src/components/app-graphic/constant.js
  src/components/app-graphic/graphic-editor.vue
  src/components/app-graphic/graphic-toolbar.vue
  src/components/app-graphic/hooks/builtin-components.js
  src/components/app-graphic/hooks/graphic.js
  src/components/app-graphic/index.vue
  src/components/app-graphic/utils/index.js
  src/components/app-table-container/index.vue
  src/router/index.js
  src/router/module/graphicRoute.js
  src/router/module/productRoute.js
  src/view/graphic/index.vue
  src/view/product/graphic/components/builtin/builtin-input/view.vue
  src/view/product/graphic/components/builtin/builtin-plus/view.vue
  src/view/product/graphic/components/builtin/hooks/graphic.js
  src/view/product/graphic/components/builtin/index.js
  src/view/product/graphic/components/index.js
  src/view/product/graphic/index.vue
  src/view/product/index.vue
  src/view/user/components/reportTemplate.vue
  vite.config.js
Due: npm run lint, prettier -w, stylelint --custom-syntax postcss-html --fix

feat: antvX6
  jsconfig.json
  package.json
  pnpm-lock.yaml
  src/@types/graphic.d.ts
  src/components/app-graphic/components/index.js
  src/components/app-graphic/components/math-construct/index.js
  src/components/app-graphic/components/math-construct/view.vue
  src/components/app-graphic/components/param-input/index.js
  src/components/app-graphic/components/param-input/view.vue
  src/components/app-graphic/components/param-panel/index.js
  src/components/app-graphic/components/param-panel/view.vue
  src/components/app-graphic/components/param-plus/index.js
  src/components/app-graphic/components/param-plus/view.vue
  src/components/app-graphic/constant.js
  src/components/app-graphic/graphic-editor.vue
  src/components/app-graphic/graphic-toolbar.vue
  src/components/app-graphic/hooks/builtin-components.js
  src/components/app-graphic/hooks/graphic.js
  src/components/app-graphic/index.vue
  src/components/app-graphic/utils/index.js
  src/components/app-table-container/index.vue
  src/router/index.js
  src/router/module/graphicRoute.js
  src/view/graphic/index.vue
  src/view/template/hooks/useToHtml.js
  src/view/user/components/reportTemplate.vue
  vite.config.js
Due: npm run lint, prettier -w, stylelint --custom-syntax postcss-html --fix

feat: three game
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/router/index.js
  src/router/module/threeRoute.js
  src/view/three/game/index.js
  src/view/three/images/IMG_7049.jpg
  src/view/three/index.vue
  src/view/three/utils/angle.js
  src/view/three/utils/index.js
Due: npm run lint, prettier -w, stylelint --custom-syntax postcss-html --fix

feat: 开发填字游戏
  src/router/index.js
  src/router/module/threeRoute.js
  src/view/three/game/game.js
  src/view/three/game/index.vue
  src/view/three/images/block.jpg
  src/view/three/images/block_active.jpg
  src/view/three/index.vue
  src/view/three/map/index.vue
Due: npm run lint, stylelint --custom-syntax postcss-html --fix

feat: 开发 3d 地图
  index.html
  src/@types/mock.d.ts
  src/view/three/game/game.js
  src/view/three/game/index.vue
  src/view/three/images/local.png
  src/view/three/images/local.svg
  src/view/three/map/index.vue
  src/view/three/map/map.js
Due: npm run lint, stylelint --custom-syntax postcss-html --fix

feat: 3d 地图 添加飞行起点
  package.json
  pnpm-lock.yaml
  src/@types/mock.d.ts
  src/view/three/map/map.js
Due: npm run lint, prettier -w

feat: 3d 地图 添加飞行动画
  src/view/three/images/airplane.png
  src/view/three/map/map.js
  src/view/three/utils/angle.js
Due: npm run lint

feat: 添加接口数据默认值处理
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/view/dashboard/index.vue
Due: npm run lint, prettier -w, stylelint --custom-syntax postcss-html --fix

feat: 添加日历组件
  src/components/app-calendar/index.jsx
  src/components/app-calendar/style.scss
  src/view/product/index.vue
Due: npm run lint, stylelint --fix, stylelint --custom-syntax postcss-html --fix

fix: 修复日期组件 日期计算错误 优化渲染日期
  src/components/app-calendar/index.jsx
Due: npm run lint

feat: 添加虚拟列表组件
  src/@types/api.d.ts
  src/components/app-virtual-list/index.jsx
  src/components/app-virtual-list/style.scss
  src/mock/product.js
  src/store/module/app.js
  src/util/net.js
  src/view/product/index.vue
Due: npm run lint, stylelint --fix, stylelint --custom-syntax postcss-html --fix

feat: 添加计算器组件
  src/components/app-calculator/index.vue
  src/icon/calculator.svg
  src/layout/layout-header.vue
  src/util/class/Calculator.js
  src/util/index.js
Due: npm run lint, stylelint --custom-syntax postcss-html --fix

fix: 修复计算器计算错误
  src/components/app-calculator/index.vue
  src/icon/Icon_calculator.svg
  src/layout/layout-header.vue
Due: npm run lint, stylelint --custom-syntax postcss-html --fix

fix: 修复计算器计算错误
  src/components/app-calculator/index.vue
Due: npm run lint, stylelint --custom-syntax postcss-html --fix

stash: tailwind
  .gitignore
  .stylelintrc.js
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  public/image/banner.png
  src/components/app-calculator/index.vue
  src/style/index.scss
  src/view/login/index.vue
  src/view/template/hooks/useMarkLine.js
  tailwind.config.js
  vite.config.js
Due: npm run lint, stylelint --fix, prettier -w, stylelint --custom-syntax postcss-html --fix

update: 更新开发依赖
  .commitlintrc
  .gitignore
  .stylelintrc
  .stylelintrc.js
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/style/tailwind.scss
Due: npm run lint, stylelint --fix, prettier -w

feat: 优化登录页面 引入 tailwindcss
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/style/index.scss
  src/view/login/index.vue
  tailwind.config.js
  vite.config.js
Due: npm run lint, stylelint --fix, prettier -w, stylelint --custom-syntax postcss-html --fix

build: 优化打包配置
  .gitignore
  package.json
  pnpm-lock.yaml
  src/mixins/page.js
  vite.config.js
Due: npm run lint, prettier -w

stash(sem): sem
  pnpm-lock.yaml
  src/class/sem/assets/cache.js
  src/class/sem/assets/index.js
  src/class/sem/assets/texture.js
  src/class/sem/core.js
  src/class/sem/index.js
  src/class/sem/spirit.js
  src/router/index.js
  src/router/module/canvasRoute.js
  src/view/canvas/index.vue
  src/view/canvas/sem/index.vue
Due: npm run lint, stylelint --custom-syntax postcss-html --fix

feat: update
  .vscode/extensions.json
  .vscode/settings.json
  src/App.vue
  src/components/index.js
  src/views/dashboard/components/report.vue
  src/views/dashboard/components/sample.vue
  src/views/dashboard/components/statistics.vue
  src/views/dashboard/index.vue
  src/views/home/index.vue
  src/views/index.vue
  src/views/template/components/builtin/builtin-group.vue
  src/views/template/components/builtin/builtin-input.vue
  src/views/template/components/builtin/builtin-select.vue
  src/views/template/components/template-area.vue
  src/views/template/components/template-contextmenu.vue
  src/views/template/components/template-control.vue
  src/views/template/components/template-document/render.vue
  src/views/template/components/template-mark-line.vue
  src/views/template/components/template-sprite.vue
  src/views/template/hooks/useToHtml.js
  src/views/template/index.vue
  src/views/template/utils/index.js
Due: npm run lint, prettier -w, stylelint --custom-syntax postcss-html --fix

feat: canvas
  pnpm-lock.yaml
  src/class/sem/assets.js
  src/class/sem/cache.js
  src/class/sem/core.js
  src/class/sem/index.js
  src/class/sem/spirit.js
  src/class/sem/texture.js
  src/router/index.js
  src/router/module/canvasRoute.js
  src/view/canvas/index.vue
  src/view/canvas/sem/index.vue
Due: npm run lint, stylelint --custom-syntax postcss-html --fix

feat: three game
  package.json
  pnpm-lock.yaml
  src/router/index.js
  src/router/module/threeRoute.js
  src/views/three/game/index.js
  src/views/three/images/IMG_7049.jpg
  src/views/three/index.vue
  src/views/three/utils/angle.js
  src/views/three/utils/index.js
Due: npm run lint, prettier -w, stylelint --custom-syntax postcss-html --fix

feat: 开发填字游戏
  src/router/index.js
  src/router/module/threeRoute.js
  src/views/three/game/game.js
  src/views/three/game/index.vue
  src/views/three/images/block.jpg
  src/views/three/images/block_active.jpg
  src/views/three/index.vue
  src/views/three/map/index.vue
Due: npm run lint, stylelint --custom-syntax postcss-html --fix

feat: 开发 3d 地图
  index.html
  src/@types/mock.d.ts
  src/views/three/game/game.js
  src/views/three/game/index.vue
  src/views/three/images/local.png
  src/views/three/images/local.svg
  src/views/three/map/index.vue
  src/views/three/map/map.js
Due: npm run lint, stylelint --custom-syntax postcss-html --fix

feat: 3d 地图 添加飞行起点
  package.json
  pnpm-lock.yaml
  src/@types/mock.d.ts
  src/views/three/map/map.js
Due: npm run lint, prettier -w

feat: 3d 地图 添加飞行动画
  src/views/three/images/airplane.png
  src/views/three/map/map.js
  src/views/three/utils/angle.js
Due: npm run lint

feat: canvas
  .eslintrc.js
  pnpm-lock.yaml
  src/class/sem/assets.js
  src/class/sem/cache.js
  src/class/sem/core.js
  src/class/sem/index.js
  src/class/sem/spirit.js
  src/class/sem/texture.js
  src/components/app-calculator/index.vue
  src/components/app-card/index.vue
  src/components/app-collapse-transition2/index.vue
  src/router/index.js
  src/router/module/canvasRoute.js
  src/views/canvas/index.vue
  src/views/canvas/sem/index.vue
  src/views/three/game/game.js
  src/views/three/game/index.js
  src/views/three/game/index.vue
  src/views/three/index.vue
  src/views/three/map/index.vue
  src/views/three/map/map.js
Due: npm run lint, stylelint --custom-syntax postcss-html --fix

docs: update
  README.md
Due: none

ci: 添加 GitHub Action
  .github/workflows/deploy.yml
Due: none

feat: 模板编辑支持根据鼠标位置缩放
  jsconfig.json
  src/@types/builtinComponent.d.ts
  src/@types/mock.d.ts
  src/utils/index.js
  src/views/template/action/index.vue
  src/views/template/action/template-aside.vue
  src/views/template/action/template-editor.vue
  src/views/template/action/template-property-option.vue
  src/views/template/action/template-property.vue
  src/views/template/action/template-stage.vue
  src/views/template/action/template-toolbar.vue
  src/views/template/components/template-document/render.vue
  src/views/template/utils/index.js
  src/views/three/earth/index.vue
Due: npm run lint, prettier -w, stylelint --custom-syntax postcss-html --fix

feat: 优化 template 获取 getBorderSize的方法 解决组合控件时.used is undefined 添加 @vue/language-plugin-pug 增加模板类型支持
  .vscode/extensions.json
  jsconfig.json
  package.json
  pnpm-lock.yaml
  src/views/template/action/index.vue
  src/views/template/components/template-area.vue
  src/views/template/hooks/useBuiltin.js
  src/views/template/utils/index.js
Due: npm run lint, prettier -w, stylelint --custom-syntax postcss-html --fix

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx,vue}
  stylelint --fix: any of: *.{css,scss,sass,less,stylus}
  prettier -w: any of: *.json
  stylelint --custom-syntax postcss-html --fix: any of: *.{html,vue}
